@page "/highscores"
@using Glücksrad.Data
@inject FirebaseService firebase


<h1>Highscores</h1>
@if(allHighscores != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>Kontostand</th>
                <th>Runden</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Player highscore in allHighscores)
            {
                    <tr>
                        <td>@highscore.name</td>
                        <td>@highscore.kontostand</td>
                        <td>@highscore.runden</td>
                    </tr>
            }
        </tbody>
    </table>
} else
{
    <p>Loading scores...</p>
}



@code {
    List<Player> allHighscores;

    protected async override void OnInitialized()
    {
        allHighscores = await firebase.getAllHighscores();
        allHighscores.Sort((x, y) => y.kontostand.CompareTo(x.kontostand));
        StateHasChanged();
    }
}
